<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="commodity.css">
</head>

<body>
    <div class="box">
        <div class="top">
            <p>Thanks for signing up!</p>
            <p>Share your address for gift delivery</p>
        </div>
        <div class="title-1">Select the giveaway</div>
        <div class="commodity">
            <div class="img">
                <img src="images/746d3033b467e562fc29c7072a34eaa.png" alt="">
            </div>
            <div class="particulars">
                <div class="name"></div>
                <div class="describe">laptop bag</div>
                <div class="price"></div>
            </div>
        </div>
        <div class="title-2">Delivery</div>
        <div class="foot">
            <form action="" method="post" class="sign">
                <div class="name"><span>*</span>Phone</div>
                <input type="text" value="" placeholder="Phone" class="input1">
                <div class="id"><span>*</span>Address1</div>
                <textarea name="" id="" cols="20" rows="5" placeholder="Address1" class="Address1"></textarea>
                <div class="id"><span>*</span>Address2</div>
                <textarea name="" id="" cols="20" rows="5" placeholder="Address2" class="Address2"></textarea>
                <div class="flex">
                    <div class="flex-box">
                        <div class="City"><span>*</span>City</div>
                        <input type="text" value="" placeholder="City" class="input2">
                    </div>
                    <div class="flex-box">
                        <div class="State"><span>*</span>State</div>
                        <input type="text" value="" placeholder="State" class="input2">
                    </div>
                    <div class="flex-box">
                        <div class="Zip-code"><span>*</span>Zip code</div>
                        <input type="text" value="" placeholder="Zip code" class="input2">
                    </div>
                    <div class="flex-box">
                        <div class="Country"><span>*</span>Country</div>
                        <input type="text" value="" placeholder="Country" class="input2">
                    </div>
                </div>
                <input type="submit" value="Submit" placeholder="" class="submit">
                <p></p>
            </form>
        </div>
    </div>
</body>

</html>